@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    height: 2792px;

    display: flex;
    flex-direction: column;

    font-family: 'Open Sans', sans-serif;
}
header{
    width: 1280px;
    height: 459px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/imagens/Header\ Background.png);

    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 757px;
    height: 270px;
    left: 261px;
    top: 94px;
}
.header-content h1{
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-content p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.button{
    display: flex;
    justify-content: space-around;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.button-one{
    width: 205px;
    height: 44px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 28px;
    border: none;
    cursor: pointer;

    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #23272A;
    
}
.button-two{
    width: 281px;
    height: 44px;
    left: 221px;
    top: 0px;

    background: #23272A;
    border-radius: 28px;
    border: none;
    cursor: pointer;

    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.section-one{
    width: 1280px;
    height: 503px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.section-one figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one h2{
    width: 329px;
    height: 270px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    
    color: #23272A;
}
.section-one p{
    width: 348px;
    height: 88px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #23272A;
}
.section-two{
    width: 1280px;
    height: 449px;

    background-color: #F6F6F6;
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.section-two figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two h2{
    width: 329px;
    height: 108px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;

    color: #23272A;
}
.section-two p{
    width: 348px;
    height: 88px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    color: #23272A;
}
.section-three{
    width: 1280px;
    height: 503px;
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
.section-three figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-three h2{
    width: 329px;
    height: 108px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    
    color: #23272A;
}
.section-three p{
    width: 348px;
    height: 110px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #23272A;
}
.section-four{
    width: 1280px;
    height: 744px;
    
    background-color: #F6F6F6;
    
    flex: none;
    order: 4;
    flex-grow: 0;
}
.section-four figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-four h2{

    text-align: center;
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #23272A;
}
.section-four p{
    width: 802px;
    height: 44px;
    
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #23272A;
}
footer{
    width: 1280px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23272A;
    
    flex: none;
    order: 5;
    flex-grow: 0;
}
@media screen and (max-width: 900px){

    body{
        max-width: 428px;
    }

    header{
        max-width: 100%;
        max-height: 506px;

        background-image: url(assets/imagens/Header\ Background.png);
    }

    .header-content{
        align-items: center;
    }
    .header-content h1{
        font-size: 32px;
        line-height: 32px;
    }
    .header-content p{
        max-width: 381px;
        max-height: 132px;
    }
    .button{
        margin-top: 20px;
        flex-direction: column;
        
    }
    .button-one{
        width: 381px;
        height: 54px;

        margin-bottom: 20px;
    }
    .button-two{

       width: 381px;
        height: 54px;
    }
    
    .section-one figure{
        max-width: 428px;
        flex-direction: column;
    }
    .section-one img{
        max-width: 428px;
        margin-top: 10px;
    }
    .section-one h2{
        font-size: 23px;
        line-height: 33px;
    }
    .section-two{
        max-width: 428px;
    }
    .section-two figure{
        flex-direction: column;
    }
    .section-two figcaption{
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .section-two img{
        max-width: 428px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
